.App{
    display: flex; 
    height: 100vh;
}

.Left-content,
.Right-content {
    flex: 1; 
    height: 100%; 
    /* box-sizing: border-box;  */
}
  
  
.Left-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
   
} 
  
.Right-content {
   
    padding: 20px;
   
    border-left: 1px solid #ddd; /* Border between left and right content */

}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
  
.button button {
  flex-grow: 1;
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
  
.button button.portrait-button, .button button.landscape-button {
  background-color: #797a7b;
  color: #fff;
  margin-bottom: 5px;
}
  
  
.button button:hover {
  opacity: 0.8;
}
  


