<!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Generated Form</title>
        <link rel="stylesheet" href="./Styles.css">
        <script src="../replaceText.js"> </script>
        <style>

        </style>
        </head>
        <body>
        <div id="form-content" style="width: 1100px;">
        <div style="
        width: 1100px !important;
        display: flex;
        flex-wrap: wrap;

        

         "><div class="Card-component"
                              style="

                              width: 400px;
                              height: 130px; "
                              ><p style="font-weight: bold;">Job Details</p><p>Job Date: {{Job Date}}</p><p>Job #: {{Job Number}}</p></div></div><div style="
        width: 1100px !important;
        display: flex;
        flex-wrap: wrap;

        

         "><table
                            style="

                            height: 250px ;

                            width: 616px;
                            "
                            class="table"><thead><tr><th>Appliances</th><th>Quality</th><th>Circuit Style</th></tr></thead><tbody><tr><td>Bells</td><td>{{Bells Quantity}}</td><td>{{Bells Circuit}}</td></tr><tr><td>Horns</td><td>{{Horns Quantity}}</td><td>{{Horns Circuit}}</td></tr><tr><td>Chimes</td><td>{{Chimes Quantity}}</td><td>{{Chimes Circuit}}</td></tr><tr><td>Strobes</td><td>{{Strobes Quantity}}</td><td>{{Strobes Circuit}}</td></tr><tr><td>Speakers</td><td>{{Speakers Quantity}}</td><td>{{Speakers Circuit}}</td></tr></tbody></table></div><!-- Generated form content goes here -->
        </div>
        </body>
        </html>