table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    border: 1px solid #ddd;
    
    
}
  
table th, table td {

    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
    break-inside: avoid;
}

table th {
    background-color: #ADD8E6;
    break-inside: avoid;
}


